@page "/events/edit"
@using Microsoft.EntityFrameworkCore
@using DogAdoptionApp.Models
@inject IDbContextFactory<DogAdoptionApp.Data.DogAdoptionAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>ShelterEvent</h2>
<hr />
@if (ShelterEvent is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="ShelterEvent" OnValidSubmit="UpdateEvent" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="ShelterEvent.EventID" value="@ShelterEvent.EventID" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="ShelterEvent.Name" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => ShelterEvent.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="year" class="form-label">Year:</label>
                    <InputNumber id="year" @bind-Value="ShelterEvent.Year" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => ShelterEvent.Year" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="month" class="form-label">Month:</label>
                    <InputNumber id="month" @bind-Value="ShelterEvent.Month" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => ShelterEvent.Month" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="day" class="form-label">Day:</label>
                    <InputNumber id="day" @bind-Value="ShelterEvent.Day" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => ShelterEvent.Day" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <InputText id="location" @bind-Value="ShelterEvent.Location" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => ShelterEvent.Location" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="time" class="form-label">Time:</label>
                    <InputText id="time" @bind-Value="ShelterEvent.Time" class="form-control" aria-required="true" />
                    <ValidationMessage For="() => ShelterEvent.Time" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="ShelterEvent.Description" class="form-control" />
                    <ValidationMessage For="() => ShelterEvent.Description" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/events">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int EventID { get; set; }

    [SupplyParameterFromForm]
    private ShelterEvent? ShelterEvent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        ShelterEvent ??= await context.ShelterEvent.FirstOrDefaultAsync(m => m.EventID == EventID);

        if (ShelterEvent is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateEvent()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(ShelterEvent!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!EventExists(ShelterEvent!.EventID))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/events");
    }

    private bool EventExists(int eventid)
    {
        using var context = DbFactory.CreateDbContext();
        return context.ShelterEvent.Any(e => e.EventID == eventid);
    }
}
