@page "/dogs_nologin"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DogAdoptionApp.Models
@using DogAdoptionApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<DogAdoptionApp.Data.DogAdoptionAppContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Dogs</h1>

<table class="table">
    <tr>
        <td>
            <strong>Image</strong>
        </td>
        <td>
            <strong>Name</strong>
        </td>
        <td>
            <strong>Age</strong>
        </td>
        <td>
            <strong>Breed</strong>
        </td>
        <td>
            <strong>Size</strong>
        </td>
    </tr>
    @foreach (var item in DogList)
    {
        <tr>
            <td>
                <img src=@item.DogImage alt="mydog" style="width:100px ; height:100px">
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.AdoptionStatus
            </td>
            <td>
                @item.Breed
            </td>
            <td>
                @item.Size
            </td>
        </tr>
    }
</table>

@code {
    public IEnumerable<Dog> DogList { get; set; } = new List<Dog>();

    private DogAdoptionAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();

        DogList = context.Dog.Where(
                item => item.AdoptionStatus.Contains("Available")).ToList();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}